@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

@import "flipclock/compiled/flipclock";

$width: 700px;
$blue: #3579E4;
$dark-black: #211f20;

body {
  background-color: #FFF;
  color: $dark-black;
  font-family: Oswald;
  background: url('images/bg.jpg') repeat;
}

h1 {
  letter-spacing: 4px;
}

h2 {
  letter-spacing: 4px;
}

a {
  color: $blue;
  text-decoration: none;
}

.is_pat_out {
  margin-bottom: 20px;
  text-align: center;
  .question {
    margin-bottom: 100px;
  }
}

#main {
  margin: 0px auto;
  width: $width;
}

.countdown {
  text-align: center;
  .flipclock, .flip-clock-wrapper {
    margin: 0px;
    display: inline-block;
    width: auto;
    margin-bottom: 20px;
  }
  .flip-clock-label {
    display: none;
  }
}

.patfact {
  font-family: "Roboto" sans-serif;
  .well {
    background-color: $dark-black;
  }
  .body {
    padding: 50px;
  }
  .hashtag {
    margin-bottom: 30px;
  }
}

.another-patfact {
  text-align: center;

  a {
    color: $blue;
    cursor: pointer;
  }
}

footer {
  // border-top: solid $dark-black 1px;
  padding: 20px 0px;
  margin: 0 auto;
  .twitter {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 480px) {
  #main{ width: 100%; }
  h1 { letter-spacing: 3px; }

  .is_pat_out {
    margin-bottom: 50px;
    font-size: 12px;
    .question {
      margin-bottom: 50px;
    }
    .answer img{
      width: 200px
    }
  }

  .countdown{
    h1 {
      font-size: 21px
    }
  }

  .patfact {
    .body {
      padding: 25px;
    }
  }

  //Digits
  .flip-clock-wrapper ul {
    height: 30px;
    width: 20px;
    padding: 0 0px;
    border-radius: 3px;
    margin: 3px;
  }

  .flip-clock-wrapper ul li a div div.inn {
    border-radius: 3px;
    font-size: 20px;
    line-height: 30px;
  }

  .flip-clock-wrapper ul li a div.down {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  //Dividers
  .flip-clock-divider {
    height: 40px;
  }
  .flip-clock-dot {
    height: 6px;
    width: 6px;
    left: 7px;
  }
  .flip-clock-dot.top {
    top: 10px;
  }
  .flip-clock-dot.bottom {
    bottom: 8px;
  }
}
