doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Is Pat McCrory Out Of Office Yet?
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    header
      .is_pat_out
        h1
        img(src='images/pat.jpg' width='400')
    section#main
      h2 COUNTDOWN
      .countdown
        .flipclock
      h2.another-patfact
        a(href="https://enr.ncsbe.gov/voter_search_public/") Check Your NC Voter Registration Status
      footer
        .contents
          .twitter
            .account
              a(href="http://twitter.com/brandonmathis") @BrandonMathis
            .account
              a(href="http://twitter.com/521studies") @521studies
    script(src="scripts/app.js")
